.listCompaniesProf {
  padding: 1rem;
  text-align: center;
  height: auto;
}

.listTitleProf {
  color: var(--textWhi);;
  font-weight: 900;
  margin-bottom: 0.8rem;
  pointer-events: none;
  font-size: 2rem;
}

.listCompaniesProf span {
  color: var(--textWhiS);;
  display: block;
  margin-bottom: 1.5rem;
}

.listTableProf table {
  border: 1px solid var(--border);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  table-layout: fixed;
  background-color: var(--backColor);
  color: var(--textWhiS);
}

.listTableProf table caption {
  font-size: 1.5rem;
  margin: 0.5rem 0 0.75rem;
}

.listTableProf table tr {
  border: 1px solid #ddd;
  padding: 0.35rem;
  cursor: initial;
}

.listTableProf table tbody tr:hover {
  background-color: var(--backColorHover);
}

.listTableProf table th {
  padding: 15px 0;
}

.listTableProf table td {
  padding: 5px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listTableProf table th {
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.textCap {
  text-transform: capitalize;
}

.listTableProf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsProf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsProf button {
  cursor: pointer;
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.delete {
  background-color: #BB2D3B;
}

.delete:hover {
  background-color: #8b232e;
}

.edit {
  background-color: #157347;
}

.edit:hover {
  background-color: #145f3c;
}

.btnsActions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btnsActions button {
  cursor: pointer;
  border-radius: 5px;
  color: var(--textWhiS);
  text-transform: capitalize;
  background-color: var(--btnPur);
  border: none;
  padding: 10px;
}

.copyCont {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.copy {
  background-color: #cecece;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b8b8b8;
  cursor: pointer;
}

.copy:hover {
  background-color: #9c9c9c;
}


@media screen and (max-width: 700px) {
  

  .listTitleProf {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .listCompaniesProf {
    position: relative;
    height: auto;
    padding-bottom: 3rem;
  }

  .listCompaniesProf span {
    font-size: 1rem;
    margin-left: 0;
  }

  .listTableProf table {
    border: 0;
  }

  .listTableProf table caption {
    font-size: 1.3rem;
  }

  .listTableProf table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .listTableProf table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625rem;
  }

  .listTableProf table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8rem;
    text-align: right;
  }

  .listTableProf table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .listTableProf table td:last-child {
    border-bottom: 0;
  }

  .buttonsProf {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
  }

  .listTableProf table button {
    border: none;
    padding: 4px 8px;
    color: white;
    cursor: pointer;
  }
}